---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Assignment 4 - Hypothesis Testing Using t-test
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
# I added this dictionary during the work on the last function to translate the way the quarters are represented
QUARTERS = {'q1': '-01Q', 'q2': '-04Q', 'q3': '-07Q', 'q4': '-10Q'}

In [4]:
# I am adding the constant alpha as the significance level
ALPHA = 0.01

In [5]:
#def find 

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    # I tried several options for file reading, including some kwargs, and this was the best.
    read_towns_temp = pd.read_csv('university_towns.txt', delimiter='\n') 
    # Since the function reset_index work on the row index, I had to transform
    read_towns_temp = read_towns_temp.T
    read_towns_temp.reset_index(inplace=True) # since Alabama came out as the Series index, I had to "push" it into the data
    read_towns_temp = read_towns_temp.T
    read_towns_temp.index = range(len(read_towns_temp)) # to assign a new 0,1,2... index
    
    # Now I will mark first the state rows, and match the relevant state to each towns
    read_towns_temp[1] = None # adding a None column for the state
    read_towns_temp.columns = ['City', 'State']
    for i in range(len(read_towns_temp)):
        if 'edit' in read_towns_temp.loc[i,'City']: # Since all the stste rows include 'edit', this helps updating the state colimn
            read_towns_temp.loc[i,'State'] = read_towns_temp.loc[i,'City']
        else:
            read_towns_temp.loc[i,'State'] = read_towns_temp.loc[i-1,'State']
             
    # We need to take the [edit] off
    read_towns_temp['State'] = read_towns_temp['State'].map(lambda x: x.strip('[edit]'))
    
    # Need to differentiate between a state and a city
    for i in range(len(read_towns_temp)):
        if 'edit' in read_towns_temp.loc[i,'City']:
            read_towns_temp.loc[i,'State(0)/City(1)'] = 0
        else:
            read_towns_temp.loc[i,'State(0)/City(1)'] = 1
    # Now I an keeping only the city rows
    read_towns = read_towns_temp[read_towns_temp['State(0)/City(1)'] == 1.0].copy()
    
    # Removing the paranthesis and what on the right
    #read_towns['City'] = read_towns['City'].apply(lambda x: x.split(' (')[0]) # original
    read_towns['City'] = read_towns.loc[:,'City'].str.split(' ', 0, expand=True)
    # Droping the state/City column
    read_towns = read_towns.drop('State(0)/City(1)', 1)
    read_towns = read_towns[['State', 'City']] # Change the order of the columns
    read_towns.index = range(len(read_towns)) # to assign a new 0,1,2... index
    return read_towns


get_list_of_university_towns()

             State           City
0          Alabama         Auburn
1          Alabama       Florence
2          Alabama   Jacksonville
3          Alabama     Livingston
4          Alabama     Montevallo
5          Alabama           Troy
6          Alabama     Tuscaloosa
7          Alabama       Tuskegee
8           Alaska      Fairbanks
9          Arizona      Flagstaff
10         Arizona          Tempe
11         Arizona         Tucson
12        Arkansas    Arkadelphia
13        Arkansas         Conway
14        Arkansas   Fayetteville
15        Arkansas      Jonesboro
16        Arkansas       Magnolia
17        Arkansas     Monticello
18        Arkansas   Russellville
19        Arkansas         Searcy
20      California         Angwin
21      California         Arcata
22      California       Berkeley
23      California          Chico
24      California      Claremont
25      California         Cotati
26      California          Davis
27      California         Irvine
28      California           Isla
29      California     University
..             ...            ...
487       Virginia           Wise
488       Virginia     Chesapeake
489     Washington     Bellingham
490     Washington         Cheney
491     Washington     Ellensburg
492     Washington        Pullman
493     Washington     University
494  West Virginia         Athens
495  West Virginia     Buckhannon
496  West Virginia       Fairmont
497  West Virginia      Glenville
498  West Virginia     Huntington
499  West Virginia     Montgomery
500  West Virginia     Morgantown
501  West Virginia  Shepherdstown
502  West Virginia           West
503      Wisconsin       Appleton
504      Wisconsin            Eau
505      Wisconsin          Green
506      Wisconsin             La
507      Wisconsin        Madison
508      Wisconsin      Menomonie
509      Wisconsin      Milwaukee
510      Wisconsin        Oshkosh
511      Wisconsin    Platteville
512      Wisconsin          River
513      Wisconsin        Stevens
514      Wisconsin       Waukesha
515      Wisconsin     Whitewater
516        Wyoming        Laramie

[517 rows x 2 columns]

In [6]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    recession_temp = pd.read_excel('gdplev.xls', skiprows=5)
    recession_temp = recession_temp.iloc[2:,[4,6]] # Slicing relevant frame part1
    # Since I was asked to refer only to Q1 2000 onwards, I first identify the row number for that
    row_number_for_start = recession_temp[recession_temp['Quarter'] == '2000q1'].index[0]
    recession_temp = recession_temp.iloc[row_number_for_start:,:] # Slicing relevant frame part2
    
    recession_temp.index = range(len(recession_temp)) # to assign a new 0,1,2... index
    # The following loop create a new column, assigning '1' if two there's decline in two quarters
    recession_temp['q_in_recession'] = None
    for i in range(1, len(recession_temp)-1):
        # The if statement refers to all potential recession start - identifies decline in two Qs in a row
        if all([recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1'] < recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'],\
               recession_temp.loc[i+1, 'GDP in billions of chained 2009 dollars.1'] < recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1']]):
            recession_temp.loc[i, 'q_in_recession'] = 1
        # The elif statement refers to quarters in a middle of recession, previous q is 1, and not yet end of recession
        elif recession_temp.loc[i-1, 'q_in_recession'] == 1 and not (recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1'] >\
                                                                        recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'] and\
                                                                        recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'] >\
                                                                        recession_temp.loc[i-2, 'GDP in billions of chained 2009 dollars.1']):
            recession_temp.loc[i, 'q_in_recession'] = 1
        else:
            recession_temp.loc[i, 'q_in_recession'] = 0
            
    #  The following loop creates a new column with the '1' in quarters where recession starts
    for i in range(1, len(recession_temp)):
        if recession_temp.loc[i-1, 'q_in_recession'] == 0 and \
        recession_temp.loc[i, 'q_in_recession'] == 1:
            recession_temp.loc[i, 'recession_start'] = 1
        else:
            recession_temp.loc[i, 'recession_start'] = 0
    # Now we pick the relevant quarter
    return recession_temp['Quarter'][recession_temp['recession_start'] == 1].values[0]
get_recession_start()

'2008q3'

In [7]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    recession_temp = pd.read_excel('gdplev.xls', skiprows=5)
    recession_temp = recession_temp.iloc[2:,[4,6]] # Slicing relevant frame part1
    # Since I was asked to refer only to Q1 2000 onwards, I first identify the row number for that
    row_number_for_start = recession_temp[recession_temp['Quarter'] == '2000q1'].index[0]
    recession_temp = recession_temp.iloc[row_number_for_start:,:] # Slicing relevant frame part2
    
    recession_temp.index = range(len(recession_temp)) # to assign a new 0,1,2... index
    # The following loop create a new column, assigning '1' if two there's decline in two quarters
    recession_temp['q_in_recession'] = None
    for i in range(2, len(recession_temp)-1):
        # The if statement refers to all potential recession start - identifies decline in two Qs in a row
        if all([recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1'] < recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'],\
               recession_temp.loc[i+1, 'GDP in billions of chained 2009 dollars.1'] < recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1']]):
            recession_temp.loc[i, 'q_in_recession'] = 1
        # The elif statement refers to quarters in a middle of recession, previous q is 1, and not yet end of recession
        elif recession_temp.loc[i-1, 'q_in_recession'] == 1 and not (recession_temp.loc[i, 'GDP in billions of chained 2009 dollars.1'] >\
                                                                        recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'] and\
                                                                        recession_temp.loc[i-1, 'GDP in billions of chained 2009 dollars.1'] >\
                                                                        recession_temp.loc[i-2, 'GDP in billions of chained 2009 dollars.1']):
            recession_temp.loc[i, 'q_in_recession'] = 1
        else:
            recession_temp.loc[i, 'q_in_recession'] = 0
            
    #  The following loop creates a new column with the '1' in quarters where recession starts
    for i in range(1, len(recession_temp)):
        if recession_temp.loc[i-1, 'q_in_recession'] == 1 and \
        recession_temp.loc[i, 'q_in_recession'] == 0:
            recession_temp.loc[i, 'recession_start'] = 1
        else:
            recession_temp.loc[i, 'recession_start'] = 0
    # Now we pick the relevant quarter from collumn 'Quarter'
    return recession_temp['Quarter'][recession_temp['recession_start'] == 1].values[0]
get_recession_end()

'2009q4'

In [8]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    # First 5 code lines rearrange the DF
    recession_temp = pd.read_excel('gdplev.xls', skiprows=5)
    recession_temp = recession_temp.iloc[2:,[4,6]] # Slicing relevant frame part1
    # Since I was asked to refer only to Q1 2000 onwards, I first identify the row number for that
    row_number_for_start = recession_temp[recession_temp['Quarter'] == '2000q1'].index[0]
    recession_temp = recession_temp.iloc[row_number_for_start:,:] # Slicing relevant frame part2
    
    recession_temp.index = range(len(recession_temp)) # to assign a new 0,1,2... index
    
    # let's create a column of real datetime:
    #for recession_temp['Real Quarter'] = 
    for i in range(1, len(recession_temp)):
        recession_temp.loc[i, 'Real Quarter'] = pd.Period(recession_temp.loc[i,'Quarter'],'Q')
    # Now slices only the recession quarters
    period_start = pd.Period(get_recession_start(), 'Q') # The month that starts the recession (Numeric)
    period_end = pd.Period(get_recession_end(), 'Q') # The month that ends the recession (Numeric)
    filtered = recession_temp[(recession_temp['Real Quarter'] >= period_start) &\
                              (recession_temp['Real Quarter'] < period_end)]
    min_gdp = filtered['Quarter'][filtered['GDP in billions of chained 2009 dollars.1'] == \
                                  filtered['GDP in billions of chained 2009 dollars.1'].min()].values[0]
    return min_gdp 

get_recession_bottom()

'2009q2'

In [9]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    housing = pd.read_csv("City_Zhvi_AllHomes.csv")
    # Taking out the irrelevant months
    housing = housing.drop(housing.loc[:,'1996-04':'1999-12'].head(0).columns, axis=1) 
    
    # The following loop creates new column each iteration, referring to last month of each quarter
    for third_column_idx in range(housing.columns.get_loc("2000-03"), len(housing.columns), 3):
        end_q_month = housing.columns[third_column_idx] # Starting month for each quarter
        stat_q_month = housing.columns[third_column_idx-2] # Ending month for each quarter 
        housing[stat_q_month + 'Q'] = housing[[stat_q_month, end_q_month]].mean(axis=1) #end_q_month + 'Q'
    # Now that I have the figures for each Q I can take out the rest of the months
    housing = housing.drop(housing.loc[:,'2000-01':'2016-08'].head(0).columns, axis=1) 
    housing['State Full'] = housing['State'].map(states)
    housing['State Full Region'] = housing['State Full'] + housing['RegionName']
    housing = housing.set_index(['State', 'RegionName']) # Setting multi-index in the shape of ["State","RegionName"]
    return housing


convert_housing_data_to_quarters()

,,RegionID,Metro,CountyName,SizeRank,2000-01Q,2000-04Q,2000-07Q,2000-10Q,2001-01Q,2001-04Q,...,2014-07Q,2014-10Q,2015-01Q,2015-04Q,2015-07Q,2015-10Q,2016-01Q,2016-04Q,State Full,State Full Region
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,6181,New York,Queens,1,NaN,NaN,NaN,NaN,NaN,NaN,...,523000.0,527900.0,532300.0,540900.0,557200.0,572450.0,583200.0,591200.0,New York,New YorkNew York
CA,Los Angeles,12447,Los Angeles-Long Beach-Anaheim,Los Angeles,2,207100.0,214450.0,220900.0,226200.0,233000.0,239100.0,...,509100.0,518850.0,528750.0,538150.0,547300.0,557500.0,566250.0,577300.0,California,CaliforniaLos Angeles
IL,Chicago,17426,Chicago,Cook,3,138450.0,143600.0,147850.0,152200.0,156900.0,161800.0,...,195850.0,201050.0,201350.0,205800.0,208400.0,207950.0,206200.0,208200.0,Illinois,IllinoisChicago
PA,Philadelphia,13271,Philadelphia,Philadelphia,4,52950.0,53600.0,54150.0,54750.0,55300.0,55550.0,...,115200.0,115700.0,116250.0,118000.0,121200.0,122150.0,123500.0,126900.0,Pennsylvania,PennsylvaniaPhiladelphia
AZ,Phoenix,40326,Phoenix,Maricopa,5,111900.0,114400.0,116050.0,117400.0,119550.0,121600.0,...,165450.0,168550.0,171550.0,174200.0,179050.0,183850.0,187850.0,191500.0,Arizona,ArizonaPhoenix
NV,Las Vegas,18959,Las Vegas,Clark,6,132600.0,134350.0,135400.0,137050.0,139550.0,141700.0,...,173350.0,175550.0,177550.0,181650.0,186800.0,190650.0,194500.0,197150.0,Nevada,NevadaLas Vegas
CA,San Diego,54296,San Diego,San Diego,7,222900.0,234350.0,245500.0,256050.0,267250.0,276350.0,...,489150.0,496450.0,503400.0,512050.0,519750.0,525350.0,529400.0,535900.0,California,CaliforniaSan Diego
TX,Dallas,38128,Dallas-Fort Worth,Dallas,8,84450.0,83900.0,84850.0,87800.0,89750.0,89300.0,...,108900.0,111500.0,113900.0,121050.0,128550.0,134600.0,140450.0,144650.0,Texas,TexasDallas
CA,San Jose,33839,San Jose,Santa Clara,9,374400.0,406300.0,431950.0,455250.0,470350.0,469800.0,...,697300.0,715100.0,731850.0,756650.0,776400.0,788850.0,803850.0,818850.0,California,CaliforniaSan Jose
FL,Jacksonville,25290,Jacksonville,Duval,10,88500.0,89750.0,91700.0,93100.0,94400.0,95600.0,...,121800.0,123100.0,124250.0,126950.0,130100.0,132000.0,134000.0,137200.0,Florida,FloridaJacksonville
CA,San Francisco,20330,San Francisco,San Francisco,11,430450.0,464100.0,483650.0,492800.0,494500.0,496450.0,...,953850.0,968600.0,1002250.0,1060850.0,1093800.0,1105300.0,1121300.0,1119000.0,California,CaliforniaSan Francisco
TX,Austin,10221,Austin,Travis,12,142950.0,145400.0,149550.0,155750.0,161100.0,160750.0,...,252800.0,258200.0,266500.0,275050.0,281500.0,287200.0,293550.0,301250.0,Texas,TexasAustin
MI,Detroit,17762,Detroit,Wayne,13,66150.0,68150.0,66850.0,67050.0,67500.0,68400.0,...,37100.0,37100.0,36250.0,35900.0,37100.0,38300.0,37950.0,37450.0,Michigan,MichiganDetroit
OH,Columbus,10920,Columbus,Franklin,14,94350.0,95850.0,97100.0,98300.0,99400.0,100300.0,...,104500.0,106350.0,107850.0,109450.0,111600.0,114900.0,116700.0,118250.0,Ohio,OhioColumbus
TN,Memphis,32811,Memphis,Shelby,15,72500.0,73200.0,73850.0,74000.0,74200.0,74900.0,...,69200.0,71050.0,70450.0,68800.0,68700.0,69500.0,70950.0,74100.0,Tennessee,TennesseeMemphis
NC,Charlotte,24043,Charlotte,Mecklenburg,16,126950.0,128400.0,130150.0,131600.0,132900.0,133150.0,...,150700.0,152750.0,155200.0,157900.0,160150.0,162900.0,166450.0,169400.0,North Carolina,North CarolinaCharlotte
TX,El Paso,17933,El Paso,El Paso,17,76250.0,76800.0,76750.0,77300.0,78200.0,78300.0,...,111750.0,111750.0,111500.0,111300.0,111050.0,110300.0,110700.0,111500.0,Texas,TexasEl Paso
MA,Boston,44269,Boston,Suffolk,18,206950.0,219300.0,233000.0,242500.0,249550.0,257100.0,...,431850.0,440700.0,448550.0,455500.0,463950.0,471950.0,482450.0,490700.0,Massachusetts,MassachusettsBoston
WA,Seattle,16037,Seattle,King,19,248500.0,255650.0,262550.0,267350.0,270950.0,272400.0,...,451400.0,459050.0,468450.0,493000.0,514500.0,533350.0,552000.0,575200.0,Washington,WashingtonSeattle
MD,Baltimore,3523,Baltimore,Baltimore City,20,59650.0,59550.0,58900.0,59450.0,59550.0,60150.0,...,109350.0,107400.0,108100.0,111350.0,114000.0,114050.0,114650.0,114800.0,Maryland,MarylandBaltimore
CO,Denver,11093,Denver,Denver,21,162250.0,167850.0,174300.0,180350.0,186550.0,192500.0,...,277600.0,287250.0,297800.0,310250.0,320550.0,329900.0,335550.0,342800.0,Colorado,ColoradoDenver
DC,Washington,41568,Washington,District of Columbia,22,137700.0,144200.0,148700.0,147850.0,149700.0,155250.0,...,453050.0,460150.0,466400.0,480900.0,493450.0,500750.0,503800.0,506150.0,District of Columbia,District of ColumbiaWashington
TN,Nashville,6118,Nashville,Davidson,23,113800.0,115200.0,115900.0,116900.0,118000.0,119200.0,...,162450.0,166850.0,171450.0,176300.0,181850.0,189150.0,195050.0,200400.0,Tennessee,TennesseeNashville
WI,Milwaukee,5976,Milwaukee,Milwaukee,24,78000.0,79100.0,81050.0,82400.0,84050.0,85600.0,...,92150.0,92050.0,93350.0,94100.0,94200.0,94550.0,94700.0,96400.0,Wisconsin,WisconsinMilwaukee
AZ,Tucson,7481,Tucson,Pima,25,101800.0,102950.0,104450.0,105700.0,107200.0,108750.0,...,143400.0,144150.0,144250.0,145150.0,146650.0,148150.0,149550.0,151200.0,Arizona,ArizonaTucson
OR,Portland,13373,Portland,Multnomah,26,152800.0,154800.0,156550.0,157500.0,159850.0,161800.0,...,287450.0,295500.0,301950.0,311900.0,326000.0,342900.0,355950.0,370050.0,Oregon,OregonPortland
OK,Oklahoma City,33225,Oklahoma City,Oklahoma,27,76450.0,77500.0,78550.0,79150.0,79850.0,80450.0,...,119000.0,120050.0,120850.0,122400.0,124700.0,127000.0,128000.0,129300.0,Oklahoma,OklahomaOklahoma City
NE,Omaha,40152,Omaha,Douglas,28,112800.0,114150.0,116750.0,119000.0,120800.0,119800.0,...,130400.0,132400.0,133150.0,134500.0,136800.0,139950.0,141650.0,142650.0,Nebraska,NebraskaOmaha
NM,Albuquerque,23429,Albuquerque,Bernalillo,29,125900.0,126700.0,126450.0,126700.0,127100.0,127750.0,...,164000.0,164800.0,165150.0,165850.0,166500.0,167350.0,169100.0,170700.0,New Mexico,New MexicoAlbuquerque
CA,Fresno,18203,Fresno,Fresno,30,94000.0,95300.0,96500.0,98250.0,100600.0,103550.0,...,173600.0,178100.0,180450.0,182100.0,185600.0,187400.0,189050.0,192750.0,California,CaliforniaFresno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,49199,NaN,Burnet,10701,NaN,NaN,NaN,NaN,NaN,NaN,...,117550.0,117500.0,117300.0,119050.0,121700.0,127900.0,133800.0,140250.0,Texas,TexasGranite Shoals
MD,Piney Point,49693,California-Lexington Park,Saint Marys,10702,155400.0,155300.0,158600.0,163250.0,163550.0,164600.0,...,308400.0,309450.0,309150.0,302300.0,305300.0,310050.0,319300.0,324100.0,Maryland,MarylandPiney Point
WI,Maribel,50374,Manitowoc,Manitowoc,10703,NaN,NaN,NaN,NaN,NaN,NaN,...,129100.0,129650.0,131350.0,130300.0,129550.0,129400.0,127950.0,129250.0,Wisconsin,WisconsinMaribel
ID,Middleton,50539,Boise City,Canyon,10704,106300.0,104400.0,101950.0,104000.0,106200.0,108400.0,...,145600.0,146150.0,146350.0,147750.0,148250.0,151150.0,153850.0,157150.0,Idaho,IdahoMiddleton
CO,Bennett,50963,Denver,Adams,10705,132800.0,135850.0,139850.0,144550.0,148300.0,152050.0,...,161900.0,171300.0,177950.0,184350.0,191500.0,195850.0,199950.0,207350.0,Colorado,ColoradoBennett
NH,East Hampstead,51793,Boston,Rockingham,10706,161850.0,168950.0,174000.0,180650.0,190700.0,195100.0,...,252250.0,255700.0,258650.0,261250.0,261850.0,268400.0,272600.0,277800.0,New Hampshire,New HampshireEast Hampstead
MO,Garden City,52166,Kansas City,Cass,10707,NaN,NaN,NaN,NaN,NaN,NaN,...,104350.0,105400.0,105450.0,96600.0,99150.0,103350.0,106500.0,111500.0,Missouri,MissouriGarden City
AR,Mountainburg,53456,Fort Smith,Crawford,10708,57350.0,64250.0,67750.0,69100.0,68450.0,64050.0,...,85000.0,88300.0,89050.0,85600.0,83900.0,90600.0,98200.0,101950.0,Arkansas,ArkansasMountainburg
WI,Oostburg,53730,Sheboygan,Sheboygan,10709,107250.0,108350.0,112450.0,115650.0,118900.0,120350.0,...,128000.0,127350.0,126950.0,127450.0,130300.0,132050.0,132850.0,134100.0,Wisconsin,WisconsinOostburg
CA,Twin Peaks,54771,Riverside,San Bernardino,10710,97550.0,100100.0,101200.0,101650.0,103950.0,107600.0,...,147450.0,146050.0,144050.0,152100.0,155400.0,159150.0,164050.0,168100.0,California,CaliforniaTwin Peaks
NY,Upper Brookville,54802,New York,Nassau,10711,1226300.0,1230800.0,1239500.0,1261800.0,1295150.0,1340500.0,...,1747550.0,1728850.0,1751350.0,1787500.0,1781800.0,1834700.0,1903800.0,1945100.0,New York,New YorkUpper Brookville
HI,Volcano,54995,Hilo,Hawaii,10712,99350.0,105450.0,114800.0,123850.0,118350.0,119350.0,...,227450.0,233050.0,234550.0,232250.0,225450.0,232400.0,242200.0,248650.0,Hawaii,HawaiiVolcano
SC,Wedgefield,55072,Sumter,Sumter,10713,NaN,NaN,NaN,NaN,NaN,NaN,...,70400.0,72250.0,75350.0,72150.0,70350.0,69050.0,69050.0,74350.0,South Carolina,South CarolinaWedgefield
MI,Williamston,55210,Lansing,Ingham,10714,159050.0,161450.0,164300.0,166150.0,166550.0,168650.0,...,168850.0,170950.0,174400.0,175950.0,179500.0,182100.0,181700.0,182500.0,Michigan,MichiganWilliamston
AR,Decatur,55357,Fayetteville,Benton,10715,63650.0,64350.0,65650.0,66700.0,67250.0,67700.0,...,92700.0,94400.0,93600.0,94900.0,95400.0,96900.0,96600.0,96650.0,Arkansas,ArkansasDecatur
TN,Briceville,55476,Knoxville,Anderson,10716,39900.0,41850.0,43700.0,44800.0,44850.0,45300.0,...,54250.0,52550.0,49600.0,46050.0,47600.0,43800.0,40950.0,41700.0,Tennessee,TennesseeBriceville
IN,Edgewood,55706,Indianapolis,Madison,10717,91650.0,91950.0,93000.0,94950.0,98800.0,100000.0,...,94050.0,94800.0,95550.0,94350.0,96550.0,99850.0,99700.0,100000.0,Indiana,IndianaEdgewood
TN,Palmyra,56183,Clarksville,Montgomery,10718,NaN,NaN,NaN,NaN,NaN,NaN,...,126850.0,126050.0,122250.0,120400.0,120100.0,125500.0,127850.0,132800.0,Tennessee,TennesseePalmyra
MD,Saint Inigoes,56845,California-Lexington Park,Saint Marys,10719,147900.0,147750.0,157300.0,163150.0,164300.0,167950.0,...,288050.0,287050.0,284900.0,280650.0,277850.0,276650.0,279250.0,282500.0,Maryland,MarylandSaint Inigoes
IN,Marysville,56943,Louisville/Jefferson County,Clark,10720,NaN,NaN,NaN,NaN,NaN,NaN,...,115450.0,116150.0,111950.0,111950.0,115450.0,120350.0,127600.0,123500.0,Indiana,IndianaMarysville
CA,Forest Falls,57212,Riverside,San Bernardino,10721,113650.0,114250.0,113950.0,111300.0,113150.0,113000.0,...,167750.0,176800.0,177000.0,181500.0,191550.0,198250.0,189200.0,189500.0,California,CaliforniaForest Falls
MO,Bois D Arc,171874,Springfield,Greene,10722,107500.0,107250.0,107050.0,107950.0,110650.0,113750.0,...,137650.0,140250.0,144850.0,147400.0,146650.0,149250.0,146850.0,143800.0,Missouri,MissouriBois D Arc
VA,Henrico,182023,Richmond,Henrico,10723,128550.0,130800.0,132250.0,133250.0,135200.0,136750.0,...,203950.0,205900.0,206700.0,210250.0,212250.0,214050.0,215950.0,216350.0,Virginia,VirginiaHenrico
NJ,Diamond Beach,188693,Ocean City,Cape May,10724,174100.0,182950.0,188950.0,192900.0,194550.0,210150.0,...,387400.0,387850.0,393250.0,397800.0,399400.0,400600.0,404300.0,403950.0,New Jersey,New JerseyDiamond Beach
TN,Gruetli Laager,227014,NaN,Grundy,10725,35350.0,35450.0,36650.0,37250.0,37700.0,38050.0,...,56300.0,57300.0,58900.0,65250.0,69450.0,71650.0,75150.0,76400.0,Tennessee,TennesseeGruetli Laager
WI,Town of Wrightstown,398292,Green Bay,Brown,10726,101900.0,105500.0,111150.0,115150.0,125550.0,129750.0,...,147000.0,148950.0,148850.0,149300.0,149800.0,149950.0,149750.0,151200.0,Wisconsin,WisconsinTown of Wrightstown
NY,Urbana,398343,Corning,Steuben,10727,79100.0,82000.0,91350.0,97850.0,95300.0,98350.0,...,136950.0,140050.0,141450.0,138000.0,136450.0,136400.0,139100.0,143800.0,New York,New YorkUrbana
WI,New Denmark,398496,Green Bay,Brown,10728,114850.0,119350.0,126000.0,132200.0,143350.0,147050.0,...,181100.0,185950.0,187450.0,188650.0,188500.0,189050.0,191000.0,192850.0,Wisconsin,WisconsinNew Denmark
CA,Angels,398839,NaN,Calaveras,10729,150900.0,155850.0,158300.0,167300.0,176500.0,183750.0,...,253500.0,259850.0,259450.0,251200.0,263800.0,279050.0,276500.0,271400.0,California,CaliforniaAngels
WI,Holland,399114,Sheboygan,Sheboygan,10730,151050.0,150650.0,153100.0,155950.0,161900.0,165800.0,...,201650.0,201450.0,205750.0,207950.0,212750.0,217850.0,221950.0,228050.0,Wisconsin,WisconsinHolland

In [11]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    # First I am calling the university town function with the university towns, and preparing it for merging
    university_town_df = get_list_of_university_towns()
    university_town_df['StateCity'] = university_town_df['State'] + university_town_df['City'] # This column to have common wiht housing
    university_town_df['University'] = 'Yes' # This column to differentiate the university town in the merged DF
    
    # Housing_df will be the left DF in the merging
    housing_df = convert_housing_data_to_quarters()
    combined_data = pd.merge(housing_df, university_town_df, how='left', left_on ='State Full Region', \
                         right_on = 'StateCity', sort=False, indicator=True)
    period_start = get_recession_start()[:4] + QUARTERS[get_recession_start()[4:]] # changed the quarters headers to match the DF
    period_bottom = get_recession_bottom()[:4] + QUARTERS[get_recession_bottom()[4:]] # changed the quarters headers to match the DF 
    combined_data['Ratio'] = combined_data[period_start] / combined_data[period_bottom] # Calculating a ratio new column
    
    # Now I will cut the dataset to two groups: unitersity towns and others
    univ_data = combined_data[combined_data['University'] == 'Yes']
    print(univ_data['Ratio'].isnull().sum()) # Checking nulls
    univ_data = univ_data.dropna(subset=['Ratio']) # Removing nulls
    print(univ_data['Ratio'].isnull().sum()) # Checking nulls again

    non_univ_data = combined_data[combined_data['University'] != 'Yes']
    print(non_univ_data['Ratio'].isnull().sum()) # Checking nulls
    non_univ_data = non_univ_data.dropna(subset=['Ratio']) # Removing nulls
    print(non_univ_data['Ratio'].isnull().sum()) # Checking nulls again

    # t-test
    p_val = stats.ttest_ind(univ_data['Ratio'], non_univ_data['Ratio'])[1] 
    # Check the t-test against alpha
    if p_val < ALPHA:
        different = True
    else:
        different = False
    
    # Check which group is "better"
    univ_town_mean = univ_data['Ratio'].mean()
    non_univ_mean = non_univ_data['Ratio'].mean()
    
    if univ_town_mean < non_univ_mean:
        better = "university town"
    else:
        better = "non-university town"
    
    return (different, p_val, better)


run_ttest()

6
0
840
0

(False, 0.070057771506764926, 'university town')